<h1>{{ isEditing ? "Update" : "Create" }} Hero</h1>

<form [formGroup]="form" novalidate>
  <mat-card>
    <mat-card-content fxLayout="column">
      <!-- ID -->
      <mat-form-field *ngIf="isEditing">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>

      <!-- Name -->
      <mat-form-field>
        <mat-label>Hero Name</mat-label>
        <input
          type="text"
          id="name"
          formControlName="name"
          matInput
          placeholder="Name"
        />
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Name is required.
        </mat-error>

        <mat-error *ngIf="form.controls['name'].hasError('minlength')">
          Name should contain at least 3 characters.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!isEditing"
        (click)="createHero()"
      >
        Create
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isEditing"
        (click)="updateHero()"
      >
        Update
      </button>
      <button mat-raised-button (click)="goBack()">Go Back</button>
    </mat-card-actions>
  </mat-card>
</form>
